.weatherApp {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
}
.github {
  text-align: center;
  color: #70757a;
  font-family: quantico;
}
h1 {
  font-size: 60px;
  font-family: quantico;
  color: #70757a;
  font-weight: 300;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  font-weight: 150;
  text-align: left;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}
.card {
  width: fit-content;
}
.overview {
  display: inline;
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  font-weight: 150;
  text-align: left;
  margin: 0;
  padding: 0;
}
strong {
  font-size: 40px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -18px;
}
.overview .active {
  color: #70757a;
  cursor: default;
  text-decoration: none;
}
.card-body {
  width: 130px;
  height: 150px;
  box-shadow: 20px 20px 20px darkgray;
  text-align: left;
  line-height: 50px;
}
.card-text,
.temp,
h5 {
  text-align: center;
  color: #70757a;
  font-family: quantico;
  font-weight: 300;
  font-weight: 100;
}
.emoji {
  font-size: 70px;
  text-align: center;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #70757a;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 13px;
}
