.weatherApp {
  max-width: 600px;
  margin: 30px auto;
  margin-bottom: 0px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
}
.github {
  text-align: center;
  color: #70757a;
  font-family: quantico;
}
h1 {
  font-size: 60px;
  font-family: quantico;
  color: #70757a;
  font-weight: 300;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  font-weight: 150;
  text-align: left;
  margin: 0;
  padding: 0;
  font-family: quantico;
}

li:first-letter {
  text-transform: capitalize;
}
.card {
  width: fit-content;
}
.overview {
  display: inline;
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  font-weight: 150;
  text-align: left;
  margin: 0;
  padding: 0;
}
strong {
  font-size: 40px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -18px;
}

.emoji {
  font-size: 70px;
  text-align: center;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #70757a;
  font-family: quantico;
}
.col-2:hover {
  color: #70757a;
  background: rgba(255, 255, 255, 0.9);
  transition: all 200ms;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 13px;
}

body {
  background-image: url("pexels-gabriela-palai-395198.jpg");

  background-size: cover;
  background-repeat: no-repeat;
}
.search-box,
.🔍,
.location {
  border-radius: 5px;
  border-color: #70757a;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: quantico;
}
